Repository bcgov/MOH-Microservices: changes, and which lint-staged commands are due for each by the changed paths.
All: sh -c 'cd splunk-forwarder && npm run pre-commit:lint', sh -c 'cd splunk-forwarder && npm run pre-commit:prettier', sh -c 'cd captcha-service && npm run pre-commit:lint', sh -c 'cd captcha-service && npm run pre-commit:prettier'

version bump address-service from 1.0.10 to 2.0.0
  address-service/package-lock.json
  address-service/package.json
Due: none

(Address-service ) Version bump to 2.0.0 (#15)
  address-service/package-lock.json
  address-service/package.json
Due: none

upgrade node version to 22
  .github/workflows/validate-bcsc-service.yaml
Due: none

(BCSC-service) Upgrade node version to 22 (#16)
  .github/workflows/validate-bcsc-service.yaml
Due: none

version bump spa-env-server from 0.9.0 to 1.0.0
  spa-env-server/package-lock.json
  spa-env-server/package.json
Due: none

(Spa-env-server) Version bump to 1.0.0 (#17)
  spa-env-server/package-lock.json
  spa-env-server/package.json
Due: none

version bump msp-service
  msp-service/package-lock.json
  msp-service/package.json
Due: none

(MSP-service) Version bump msp-service to 4.0.0 (#18)
  msp-service/package-lock.json
  msp-service/package.json
Due: none

add .linstatagedrc, pre-commit scripts to address-service
  address-service/.lintstagedrc
  address-service/package.json
Due: none

remove root .lintstagedrc
  .lintstagedrc
Due: none

add .lintstagedrc, pre-commit scripts to bcsc-service
  bcsc-service/.lintstagedrc
  bcsc-service/package.json
Due: none

add .linstagedrc, fix pre-commit scripts for captcha-service
  captcha-service/.lintstagedrc
  captcha-service/package.json
Due: sh -c 'cd captcha-service && npm run pre-commit:prettier'

add .lintstagedrc, pre-commit scripts to spa-env-server
  spa-env-server/.lintstagedrc
  spa-env-server/package.json
Due: none

add prepare scripts, check-husky scripts to all microservices
  address-service/bin/check-husky.mjs
  address-service/package.json
  bcsc-service/bin/check-husky.mjs
  bcsc-service/package.json
  captcha-service/bin/check-husky.mjs
  captcha-service/package.json
  spa-env-server/bin/check-husky.mjs
  spa-env-server/package.json
Due: sh -c 'cd captcha-service && npm run pre-commit:prettier'

add .mjs file type to lint check
  address-service/.lintstagedrc
  bcsc-service/.lintstagedrc
  captcha-service/.lintstagedrc
  msp-service/.lintstagedrc
  spa-env-server/.lintstagedrc
  splunk-forwarder/.lintstagedrc
Due: sh -c 'cd splunk-forwarder && npm run pre-commit:prettier', sh -c 'cd captcha-service && npm run pre-commit:prettier'

improve error handling in check-husky script
  address-service/bin/check-husky.mjs
  bcsc-service/bin/check-husky.mjs
  captcha-service/bin/check-husky.mjs
  msp-service/bin/check-husky.mjs
  spa-env-server/bin/check-husky.mjs
  splunk-forwarder/bin/check-husky.mjs
Due: sh -c 'cd splunk-forwarder && npm run pre-commit:prettier', sh -c 'cd captcha-service && npm run pre-commit:prettier'

remove exit 0 from address-service scripts
  address-service/package.json
Due: none

remove exit - from bcsc-service, spa-env-server scripts
  bcsc-service/package.json
  spa-env-server/package.json
Due: none

(All Microservices) Configure husky + lintstaged (#19)
  .lintstagedrc
  address-service/.lintstagedrc
  address-service/bin/check-husky.mjs
  address-service/package.json
  bcsc-service/.lintstagedrc
  bcsc-service/bin/check-husky.mjs
  bcsc-service/package.json
  captcha-service/.lintstagedrc
  captcha-service/bin/check-husky.mjs
  captcha-service/package.json
  spa-env-server/.lintstagedrc
  spa-env-server/bin/check-husky.mjs
  spa-env-server/package.json
  splunk-forwarder/.lintstagedrc
  splunk-forwarder/bin/check-husky.mjs
Due: sh -c 'cd splunk-forwarder && npm run pre-commit:prettier', sh -c 'cd captcha-service && npm run pre-commit:prettier'

add node versions to log forwarder validate workflow
  .github/workflows/validate-log-forwarder.yaml
Due: none

remove 26.x from validate-log-forwarder
  .github/workflows/validate-log-forwarder.yaml
Due: none

(Log forwarder) CS-917: Upgrade log forwarder node version (#20)
  .github/workflows/validate-log-forwarder.yaml
Due: none

Path conditions:
  sh -c 'cd splunk-forwarder && npm run pre-commit:lint': any of: splunk-forwarder/**.{js,ts,jsx,tsx,vue,cjs}
  sh -c 'cd splunk-forwarder && npm run pre-commit:prettier': any of: splunk-forwarder/**
  sh -c 'cd captcha-service && npm run pre-commit:lint': any of: captcha-service/**.{js,ts,jsx,tsx,vue,cjs}
  sh -c 'cd captcha-service && npm run pre-commit:prettier': any of: captcha-service/**
